<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Expansion</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/expansion.css}">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<body>
	<div class="main-container">
		<div class="links">
			<a th:href="@{/review(id=${reviews.id})}">Return to Game Page</a>
			<a class="right-link" th:href="@{/show-reviews}">Return to Main Page</a>
		</div>
		
		<h1 th:text="${reviews.name}">Expansion Name</h1>

		<img th:src="@{'/images/' + ${reviews.id} + 'xp.png'}" class="game-image">

		<ul>
				<li><i class="fas fa-users"></i> : <span th:text="${reviews.numPlayers}">unknown</span></li>
				<li>Synopsis: <span th:text="${reviews.synopsis}">unknown</span></li>
		</ul>

		<h4>Link to expansion: <a th:href="@{${reviews.weblink}}">here</a></h4>

		<div class="links">
			<a th:href="@{/review(id=${reviews.id})}">Return to Game Page</a>
			<a class="right-link" th:href="@{/show-reviews}">Return to Main Page</a>
		</div>

	</div>	
</body>
</html>