<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/review.css}">
	<title>Board Game Review</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
	<div class="main-container">
		<div>
			<a class="link" th:href="@{/show-reviews}">Return to Main Page</a>
		</div>

		<div>
			<h1>Review for <span th:text="${reviews.name}">item</span></h1>

			<img th:src="@{'/images/' + ${reviews.id} + '.png'}" class="game-image">

			<ul>
				<li><i class="fas fa-users"></i> : <span th:text="${reviews.numPlayers}">unknown</span></li>
				<li><i class="fas fa-stopwatch"></i>   : <span th:text="${reviews.lengthOfPlay}">unknown</span></li>
				<li>Released: <span th:text="${reviews.releaseDate}">unknown</span></li>
				<li>Synopsis: <span th:text="${reviews.synopsis}">unknown</span></li>
			</ul>

			<h3>Review</h3>
			<p th:utext="${reviews.reviewText}">review information here</p>

			<h4>Link to the game: <a th:href="@{${reviews.weblink}}">here</a></h4>

			<h4>Expansions available? : <a th:if="${reviews.expansion}" th:href="@{/expansion(id=${reviews.id})}">yes</a><span th:unless="${reviews.expansion}">no</span></h4>

		</div>

		<div>
			<p class="tags">Tags</p>
			<ul th:each = "tag : ${reviews.gameTags}" class="buttons">
				<button th:text="${tag}" disabled></button>
			</ul>
		</div>

		<div>
			<a th:href="@{/show-reviews}" class="link">Return to Main Page</a>
		</div>
	</div>
</body>
</html>